{% extends "base.html" %}

{% block header_title %}
{% block title %}
Admin Panel
{% endblock %}
{% endblock %}


{% block content %}
<section>
    <h1>Logged in as '{{ username }}'</h1>
    <hr>
    <br>
    <h1>User Management</h1>
    <p>Manage users and their activities.</p>
    <div class="user-management">
        <div class="user-management__users">
            <h2>Users</h2>
            <p>User count: {{ user_count }}</p>
            <br>
            <table>
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for username in usernames %}
                    <tr>
                        <td>{{ username }}</td>
                        <td> <!-- TODO + Only show if user inactive(?) -->
                            {% if inactive_users %}
                            <form action="/admin/active-user" method="POST" onsubmit="return confirm('Are you sure you want to activate this user?');">
                                <input type="hidden" name="username" value="{{ username }}">
                                <button type="submit" name="action" value="activate">Activate</button>
                            </form>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if activities %}
        <hr class="dashed">
        <div class="user-management__activities"> <!-- TODO -->
            <h2>Activities</h2>
            <br>
            <table>
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Activity</th>
                        <th>Timestamp</th>
                    </tr>
                </thead>
                <tbody>
                    {% for activity in activities %}
                    <tr>
                        <td>{{ activity.username }}</td>
                        <td>{{ activity.activity }}</td>
                        <td>{{ activity.timestamp }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        {% if blocked_ips %}
        <hr class="dashed">
        <div class="user-management__blocked_ips"> <!-- TODO -->
            <h2>Blocked IPs</h2>
            <br>
            <table>
                <thead>
                    <tr>
                        <th>IP</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ip in blocked_ips %}
                    <tr>
                        <td>{{ ip }}</td>
                        <td>
                            <form action="/admin/unblock-ip" method="POST" onsubmit="return confirm('Are you sure you want to unblock this IP?');">
                                <input type="hidden" name="ip" value="{{ ip }}">
                                <button type="submit" name="action" value="unblock">Unblock</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
    <hr>
    <div class="contract-management">
        <h1>Contract Management</h1>
        <p>Manage customer contracts.</p>
        {% if contracts_termination_requested|length > 0 %}
        <div class="confirm-contract-termination">
            <h2>Confirm contract termination</h2>
            <p>List of customer contracts that are pending earlier termination.</p>
            <table>
                <thead>
                    <tr>
                        <th>Customer</th>
                        <th>Contract-ID</th>
                        <th>Start Date</th>
                        <th>Planned End Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody> <!-- TODO -->
                    {% for contract in contracts_termination_requested %}
                    <tr>
                        <td>{{ contract.customer }}</td>
                        <td>{{ contract._id }}</td>
                        <td>{{ contract.startdate }}</td>
                        <td>{{ contract.enddate }}</td>
                        <td>
                            <form action="/admin/confirm-contract-termination/{{ contract._id }}" method="POST" onsubmit="return confirm('Are you sure you want to confirm this earlier contract termination?');">
                                <button type="submit" name="action" value="confirm">Confirm</button>
                            </form>
                            <form action="admin/decline-contract-termination/{{ contract._id }}" method="POST" onsubmit="return confirm('Are you sure you want to decline this earlier contract termination?');">
                                <button type="submit" name="action" value="decline">Decline</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}