<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - VoltWave</title>
    <link rel="shortcut icon" href="../static/Favicon-32x32.ico" sizes="310x310">
    <link rel="shortcut icon" href="../static/Favicon-16x16.ico" sizes="96x96">
    <link rel="shortcut icon" href="../static/Favicon-32x32.ico" sizes="32x32">
    <link rel="shortcut icon" href="../static/Favicon-16x16.ico" sizes="16x16">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style.css">
    <script type="text/javascript" src="../static/logo.js"></script>
    <script type="text/javascript" src="../static/cookiebanner.js"></script>
    <script type="text/javascript" src="../static/password-strength-meter.js"></script>
    <script type="text/javascript" src="../static/passwords-match.js"></script>
</head>
<body {% block body_attributes %}class="default-body"{% endblock %}>
    <header class="mb-4">
        <h1>{% block header_title required %} {% endblock %}</h1>
        <canvas></canvas>
    </header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light static justify-content-center">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            <i class="fas fa-home"></i> Home
                        </a>
                    </li>
                    {% if not jwt_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="/register">
                                <i class="fas fa-user-plus">Register</i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">
                                <i class="fas fa-sign-in-alt"></i> Login
                            </a>
                        </li>
                    {% elif jwt_authenticated and not twofa_authenticated %}
                        {% if not twofa_activated %}
                            <li class="nav-item">
                                <a class="nav-link" href="/register/2fa">
                                    <i class="fas fa-key"></i> Register 2FA
                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="/login/2fa">
                                    <i class="fas fa-sign-in-alt"></i> Login 2FA
                                </a>
                            </li>
                        {% endif %}
                    {% elif jwt_authenticated and twofa_authenticated %}
                        {% if admin %}
                        <li class="nav-item"><a class="nav-link" href="/admin">Admin Panel</a></li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard">
                                <i class="fas fa-tachometer-alt"></i> Dashboard
                            </a>
                        </li>
                    {% endif %}
    
                    {% if jwt_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i> User
                        </a>
                        <div class="dropdown-menu" aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="/user-info"><i class="fas fa-user"></i> User Information</a>
                            <a class="dropdown-item" href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
                        </div>
                    </li>
                {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <!--
    <nav>
        <ul>
            <li><a href="/">Start</a></li>
            {% if not jwt_authenticated %}
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
            {% elif jwt_authenticated and not twofa_authenticated %}
                {% if not twofa_activated %}
                    <li><a href="/register/2fa">Register 2FA</a></li>
                {% else %}
                    <li><a href="/login/2fa">Login 2FA</a></li>
                {% endif %}
            {% elif jwt_authenticated and twofa_authenticated %}
                {% if admin %}
                    <li><a href="/admin">Admin Panel</a></li>
                {% endif %}
                <li><a href="/dashboard">Dashboard</a></li>
            {% endif %}

            {% if jwt_authenticated %}
                <li><a href="/user-info">User Information</a></li>
                <li><a href="/logout">Logout</a></li>
            {% endif %}
        </ul>
    </nav>
    //-->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class=flashes>
            {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <div id="cookie-banner" class="cookie-banner">
        <div class="cookie-content">
            <p>Welcome to VoltWave GMBH und CO KG AG, your trusted customer portal for metering point operator. We use cookies to enhance your experience and provide essential functionality. By using our website, you consent to the use of cookies in accordance with our <a href="/privacy-policy">Privacy Policy</a>.</p>
            <button id="accept-cookies" class="accept-cookies">Accept</button>
        </div>
    </div>
    <main>
        {% block content %} {% endblock %}
    </main>
    <footer>
        <p>&copy; 2023 VoltWave GMBH und CO KG AG</p>
    </footer>
</body>
</html>