{% extends "base.html" %}

{% block header_title %}
{% block title %}
Contract {{ contract._id }}
{% endblock %}
{% endblock %}


{% block content %}
<section>
  <!-- <h3>Contract Adress: {{ contract.contract_address }}</h3> -->
  <h3>Electricity Meter ID: {{ contract.electricity_meter_id }}</h3>
  <!-- <h3>Electricity Meter Type: {{ electricity_meter_type }}</h3>#TODO change values to contract.
  <h3>Electricity Meter Manufacturer: {{ electricity_meter_manufacturer }}</h3>
  <h3>Electricity Meter Model: {{ electricity_meter_model }}</h3>
  <h3>Electricity Meter Serial Number: {{ electricity_meter_serial_number }}</h3>
  <h3>Electricity Meter Firmware Version: {{ electricity_meter_firmware_version }}</h3>
  <h3>Electricity Meter Status: {{ electricity_meter_status }}</h3>
  <h3>Electricity Meter Last Updated: {{ electricity_meter_last_updated }}</h3>
  <h3>Electricity Meter Last Reading Timestamp: {{ electricity_meter_last_updated_timestamp }}</h3>
  <h3>Electricity Meter Last Reading Value: {{ electricity_meter_last_updated_value }}</h3>
  <h3>Electricity Meter Last Reading Value Unit: {{ electricity_meter_last_updated_value_unit }}</h3> Change to static unit in html -->
  <!-- Remove contract -->
  <form method="post" action="/remove-contract/{{ contract._id }}" onsubmit="return confirm('Are you sure you want to submit this form?');">
    <button type="submit">Remove Contract</button>
  </form>
</div>
</section>
{% endblock %}