{% extends "base.html" %}

{% block header_title %}
{% block title %}
Contract {{ contract._id }}
{% endblock %}
{% endblock %}


{% block content %}
<section>
  <h3>Active: {{ contract.active }}</h3>
  <h3>Start- & Enddate: {{ contract.startdate }} - {{ contract.enddate }}</h3>
  <h3>Contract Address: {{ contract.address.Street}} {{ contract.address.Street_Number }}, {{ contract.address.PLZ }} {{ contract.address.City }}, {{ contract.address.Country }}</h3>
  <h3>Auto-Renew: {{ contract.auto_renew }}</h3>
  <h3>Renew-Period: {{ contract.renew_period }}</h3>
  
  <h3>Electricity Meter ID: {{ contract.electricity_meter_id }}</h3>
  <h3>Electricity Meter Last Updated Value: {{ electricity_meter_last_updated_value }} kWh</h3>

  <h3>Notes: {{ contract.notes }}</h3>
  <br>
  <br>
  <!-- Update contract with attribute and value -->
  <h2>Update Attribute</h2>
  <form method="post" action="/update-contract/{{ contract._id }}" onsubmit="return confirm('Are you sure you want to submit this form?');">
    <label for="attribute">Attribute:</label>
    <select name="attribute" id="attribute" required>
      {% for attribute in contract.attributes %}
        <option value="{{ attribute }}">{{ attribute }}</option>
      {% endfor %}
    </select>
    <label for="value">Value:</label>
    <input type="text" id="value" name="value" value="" required>
    <button type="submit">Update Contract</button>
  </form>
  <!-- Remove contract -->
  <form method="post" action="/remove-contract/{{ contract._id }}" onsubmit="return confirm('Are you sure you want to submit this form?');">
    <button type="submit">Remove Contract</button>
  </form>
  <!-- Export contract information button + div to show json output with correct indentation -->
  {% if twofa_authenticated %}
  <div>
      <form method="get" action="/export-contract/{{ contract._id }}">
          <button type="submit">Export Contract Information</button>
      </form>
      {% if contract_information_json %}
      <div>
          <pre id="contract_information_json">{{ contract_information_json }}</pre>
      </div>
      {% endif %}
  </div>
  {% endif %}
</div>
</section>
{% endblock %}