{% extends "base.html" %}

{% block header_title %}
{% block title %}
Dashboard
{% endblock %}
{% endblock %}


{% block content %}
<section>
  <h2>Hello, {{ username }}!</h2>
  <h3>Contracts</h3>
  <div class="contract-list">
    {% for contract in contract_list %}
      <div class="contract">
        <h5>Contract ID: <a href="/dashboard/{{ contract._id }}">{{ contract._id }}</a></h3>
        <h6>Electricity Meter ID: {{ contract.electricity_meter_id }}</h6>
          <!-- Add more contract details when we have them  -->
      </div>
    {% endfor %}
  </div>
  <div>
    <!-- Add a contract with em-id -->
    <form method="post" action="/add-contract" onsubmit="return confirm('Are you sure you want to submit this form?');">
      <label for="">Electricity Meter ID</label>
      <input type="text" id="electricity_meter_id" name="electricity_meter_id">
      <button type="submit">Add Contract</button>
    </form>
  </div>
</section>
{% endblock %}