{% extends "base.html" %}

{% block header_title %}
{% block title %}
Impressum
{% endblock %}
{% endblock %}

{% block content %}
<div class="container">
    <h1>Impressum - Voltwave</h1>

    <h2>Angaben gemäß § 5 TMG:</h2>
    <p>Voltwave Stromversorgung GmbH<br>
        Musterstraße 123<br>
        12345 Musterstadt</p>

    <h2>Vertreten durch:</h2>
    <p>Max Mustermann (Geschäftsführer)</p>

    <h2>Kontakt:</h2>
    <p>Telefon: 01234 567890<br>
        E-Mail: info@voltwave.com</p>

    <h2>Registereintrag:</h2>
    <p>Eintragung im Handelsregister.<br>
        Registergericht: Amtsgericht Musterstadt<br>
        Registernummer: HRB 12345</p>

    <h2>Umsatzsteuer-ID:</h2>
    <p>Umsatzsteuer-Identifikationsnummer gemäß §27a Umsatzsteuergesetz:<br>
        DE 123456789</p>

    <h2>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</h2>
    <p>Max Mustermann<br>
        Musterstraße 123<br>
        12345 Musterstadt</p>

    <p>Quelle: <a href="https://www.e-recht24.de/impressum-generator.html" target="_blank" rel="noopener noreferrer">eRecht24</a></p>
</div>
{% endblock %}