{% extends "base.html" %}

{% block header_title %}
{% block title %}
Update User Information
{% endblock %}
{% endblock %}


{% block content %}
<section>
<body>
    <h1>Update your additional information</h1>
    <form method="post", onsubmit="return confirm('Are you sure you want to submit this form?');">
        {% if not_provided_information %}
        <h2>Not provided information</h2>
        <!-- Check for keys in not_provided_information and spawn div and label -->
        {% for key in not_provided_information %}
            {% if key == "date_of_birth" %}
            <div>
                <label for="{{ key }}">{{ key }}:</label>
                <input type="date" id="update_user_info_{{ key }}" name="{{ key }}" value="">
            </div>
            {% else %}
            <div>
                <label for="{{ key }}">{{ key }}:</label>
                <input type="text" id="update_user_info_{{ key }}" name="{{ key }}" value="">
            </div>
            {% endif %}
        {% endfor %}
        {% endif %}
        <hr class="dashed">
        {% if user_information %}
        <h2>Provided information</h2>
        {% for key, value in user_information.items() %}
            {% if key == "date_of_birth" %}
            <div>
                <label for="{{ key }}">{{ key }}:</label>
                <input type="date" id="update_user_info_{{ key }}" name="{{ key }}" value="{{ value }}">
            </div>
            {% elif key == "address" %} <!-- Check key value of "address" dict -->
               {% for address_key, address_value in value.items() %}
                <div>
                    <label for="{{ address_key }}">{{ address_key }}:</label>
                    <input type="text" id="update_user_info_{{ address_key }}" name="{{ address_key }}" placeholder="{{ address_value }}">
                </div>
                {% endfor %}
            {% else %}
            <div>
                <label for="{{ key }}">{{ key }}:</label>
                <input type="text" id="update_user_info_{{ key }}" name="{{ key }}" value="" placeholder="{{ value }}">
            </div>
            {% endif %}
        {% endfor %}
        {% endif %}
        <button type="submit">Update user information</button>
    </form>
</body>
</section>
{% endblock %}