swagger: '2.0'
info:
  version: v1
  title: VoltWave (Security-by-Design)
  description: Customer-Portal routes.
host: www.voltwave.systems:443
schemes:
  - https
paths:
  /:
    get:
      summary: GET index.html
      responses:
        '200':
          description: Returned on success.
  /index:
    get:
      summary: GET index.html
      responses:
        '200':
          description: Returned on success.
  /home:
    get:
      summary: GET index.html
      responses:
        '200':
          description: Returned on success.
  /about:
    get:
      summary: GET about.html
      responses:
        '200':
          description: Returned on success.
  /impressum:
    get:
      summary: GET impressum.html
      responses:
        '200':
          description: Returned on success.
  /dashboard:
    get:
      summary: GET register.html
      description: The Dashboard can only be accessed with a valid JWT Token and 2fa timestamp.
      responses:
        '200':
          description: Returned on success.
          
  /add-contract:
    post:
      summary: Create a new contract (JWT and 2fa required)
      description: Creates a new contract based on the input by the user.
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - text/html; charset=utf-8
      parameters:
        - name: electricity_meter_id
          in: formData
          description: The ID of the electricity meter.
          required: true
          type: string
        - name: coming soon
          in: formData
          description: coming soon
          required: true
          type: string
      responses:
        '302':
          description: Returned on success. Contract created and contract id added to user.
          schema:
            type: object
        '500':
          description: Internal server error
  /dashboard/<contract_id>:
    get:
      summary: GET contract.html based on the contract id. (JWT and 2fa required)
      responses:
        '200':
          description: Returned on success. 
  /update-contract/<contract_id>:
    post:
      summary: Update the contract based on its contract_id. TODO change
      description: Changes a contracts value on a specified key.
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - text/html; charset=utf-8
      parameters:
        - name: coming soon
          in: formData
          description: coming soon
          required: true
          type: string
      responses:
        '302':
          description: Returned on success. Contract updated. Redirect to contract page.
          schema:
            type: object
        '500':
          description: Internal server error 
  /remove-contract/<contract_id>:
    post:
      summary: Remove the contract TODO change
      description: Remove the contract and remove from user.
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - text/html; charset=utf-8
      responses:
        '302':
          description: Returned on success. Contract removed. Redirect to dashboard.
          schema:
            type: object
        '500':
          description: Internal server error