<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DILLIGAF</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <h1>Willkommen auf unserer Webseite</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Start</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
        </ul>
    </nav>
    <main>
        <h2>Startseite</h2>
        <p>Willkommen auf unserer Webseite. Bitte wählen Sie eine Option aus der Navigationsleiste oben.</p>
    </main>
    <a href="https://imgflip.com/i/81na2x">
        <img src="https://i.imgflip.com/81na2x.jpg" title="made at imgflip.com"/>
    </a>
    <footer>
        <p>&copy; 2023 DILLIGAF GMBH und CO KG AG</p>
    </footer>
</body>
</html>
