body, h1, h2, ul, li, p, form {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #8E8DA8;
}

header {
    background-color: black; /* Navy Blue */
    color: #e9c54c;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 10px 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fc0606;
    font-weight: bold;
    font-size: 18px;
}

.logo {
    text-align: center;
    margin-top: 20px;
}

.logo img {
    max-width: 200px;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f4f4f6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.centered-form {
    text-align: center;
}

h2 {
    margin-top: 15px;
    margin-bottom: 10px;
    color: #001f3f; /* Navy Blue */
}

label {
    display: block;
    margin-top: 5px;
    margin-bottom: 2px;
}

input[type="email"],
input[type="text"],
input[type="password"],

button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid #e9c54c;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #8E8DA8; /* change to your desired color */
    color: #e9c54c; /* change to your desired color */
  }

footer {
    text-align: center;
    padding: 10px;
    background-color: black; /* Komplementärfarbe (Orange) */
    color: #e9c54c;
    font-size: 14px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Mindesthöhe des Viewports */
}

main {
    flex-grow: 1;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

table {
    width: 100%;
}
th.from, th.date {
    width: 15%
}

hr {
    border-top: 1px solid black;
  }

hr.dashed {
    border-top: 1px dashed black;
  }

/* Flash messages */
.flash-messages {
    position: absolute;
    z-index: 1000000;
    top: 20%;
    list-style: none;
    padding: 0;
}

.flash-message {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 300px;
}

.success {
    background-color: #4CAF50;
    color: white;
}

.failed {
    background-color: #F44336;
    color: white;
}

.warning {
    background-color: yellow;
    color: white;
}

.error {
    background-color: #FF9800;
    color: white;
}

.backup_codes {
    background-color: #2196F3;
    color: white;
}


/* Index Page */

.index_image {
    width: 50%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Tiny Gray Text */
.tiny-gray-text {
    font-size: 12px;
    color: #808080;
}


/* Logo */
canvas {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    width: 36px;
    height: 36px;
    z-index: 1000000;
}

/* Cookiebanner */

.cookie-banner {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
}

.cookie-content {
    max-width: 800px;
    margin: 0 auto;
}

.accept-cookies {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

.accept-cookies:hover {
    background-color: #0056b3;
}

/* Password Strength Meter */
.password-container {
    margin-bottom: 30px;
    font-family: Arial, sans-serif;
}

.password-strength-meter {
    margin-top: 10px;
    height: 10px;
    background-color: #ccc;
    position: relative;
}

.strength-bar {
    height: 100%;
    background-color: #d9534f;
    width: 0;
}

.strength-text {
    font-size: 14px;
    margin-top: 5px;
}

.navbar.navbar-expand-lg.navbar-light.bg-light.static.justify-content-center {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #7c2323 !important; /* examples: #1f2348 || #7c2323 || #78866B*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}
/* Style for non-active navigation items */
.navbar-nav .nav-item .nav-link {
    color: #BCA87F; /* Set the default color for non-active items */
}

/* Style for active (highlighted) navigation items */
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: #e9c54c; /* Set the color for highlighted items */
}

body.hide-on-index main {
    max-width:none;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #8E8DA8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* JWT and 2fa timer */
.timer {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
    z-index: 1000000;
    font-size: 12px;
}